:root {
  --heading-font-family: 'Poppins', sans-serif;
  --main-font-famliy: 'Montserrat', sans-serif;
}

body {
  font-family: var(--main-font-famliy);
}

h1 {
  font-family: var(--main-font-family);
  font-size: 60px !important;
}

h2 {
  margin-top: 20px !important;
  font-size: 30px !important;
  color: gray;
}

p {
  line-height: 1.5;
  font-weight: bold;
  font-size: 32px;
}

.homepage {
  margin-top: 150px;
  text-align: center;
}

.btn-contact {
  background-color: blueviolet !important;
  color: white !important;
  margin: 25px;
  padding: 10px 20px !important;
  line-height: 27px;
}
